In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder

##### Input variables: _wr

In [2]:
df = pd.read_csv("C:\\Users\\cindy\\Desktop\\UIUC\\入學後\\Relative-Valuation\\variables_suite ratio.csv")

C:\Users\cindy\AppData\Local\Temp\ipykernel_13448\4238018112.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("C:\\Users\\cindy\\Desktop\\UIUC\\入學後\\Relative-Valuation\\variables_suite ratio.csv")

In [3]:
# Rename columns (excluding specific ones) by adding "_wr"
cols_to_rename = {col: f"{col}_wr" for col in df.columns if col not in ["gvkey", "adate", "qdate", "public_date", "cusip"]}
df.rename(columns=cols_to_rename, inplace=True)

df.head()

,gvkey,adate,qdate,public_date,dpr_wr,npm_wr,opmbd_wr,opmad_wr,gpm_wr,ptpm_wr,...,quick_ratio_wr,curr_ratio_wr,cash_conversion_wr,inv_turn_wr,at_turn_wr,rect_turn_wr,pay_turn_wr,rd_sale_wr,accrual_wr,cusip
0,1001,NaN,1983-09-30,1983-11-30,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00016510
1,1001,NaN,1983-09-30,1983-12-31,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00016510
2,1001,NaN,1983-09-30,1984-01-31,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,00016510
3,1001,1983-12-31,1983-12-31,1984-02-29,0.0,0.045,0.104,0.067,0.752,0.062,...,2.344,2.513,NaN,NaN,NaN,NaN,NaN,0.0,-0.068,00016510
4,1001,1983-12-31,1983-12-31,1984-03-31,0.0,0.045,0.104,0.067,0.752,0.062,...,2.344,2.513,NaN,NaN,NaN,NaN,NaN,0.0,-0.068,00016510

In [4]:
wr_columns = [col for col in df.columns if col.endswith('wr')]
other_columns = ['gvkey', 'cusip', 'qdate']
columns = wr_columns+other_columns
wr_df = df[columns]
wr_df

,dpr_wr,npm_wr,opmbd_wr,opmad_wr,gpm_wr,ptpm_wr,cfm_wr,roa_wr,roe_wr,roce_wr,...,cash_conversion_wr,inv_turn_wr,at_turn_wr,rect_turn_wr,pay_turn_wr,rd_sale_wr,accrual_wr,gvkey,cusip,qdate
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1001,00016510,1983-09-30
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1001,00016510,1983-09-30
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1001,00016510,1983-09-30
3,0.0,0.045,0.104,0.067,0.752,0.062,0.085,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,-0.068,1001,00016510,1983-12-31
4,0.0,0.045,0.104,0.067,0.752,0.062,0.085,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,-0.068,1001,00016510,1983-12-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2392068,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,332115,04216R10,2019-06-30
2392069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,332115,04216R10,2019-06-30
2392070,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,332115,04216R10,2019-06-30
2392071,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,332115,04216R10,2019-09-30
2392072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,332115,04216R10,2019-09-30

In [10]:
# 先將無窮大值轉換為 NaN
wr_df.replace([np.inf, -np.inf], np.nan, inplace=True)

# 過濾掉 NaN 比例超過 90% 的欄位
# valid_columns = v1.columns[v1.isnull().mean() < 0.9]
numeric_cols = wr_columns

# 計算 summary statistics，忽略 NaN
summary_stats = wr_df[numeric_cols].agg([
    'count', 
    lambda x: x.mean(skipna=True), 
    lambda x: x.quantile(0.01), 
    lambda x: x.quantile(0.10), 
    lambda x: x.median(skipna=True), 
    lambda x: x.quantile(0.90), 
    lambda x: x.quantile(0.99)
])

# 重命名 index
summary_stats.index = ['N', 'Mean', 'p1', 'p10', 'p50', 'p90', 'p99']

# 設置顯示格式
summary_stats.loc['N'] = summary_stats.loc['N'].astype(int)  # 將 'N' 設為整數
pd.options.display.float_format = '{:.2f}'.format  # 其他值顯示到小數點後兩位

summary_stats

C:\Users\cindy\AppData\Local\Temp\ipykernel_13448\415028787.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wr_df.replace([np.inf, -np.inf], np.nan, inplace=True)

,dpr_wr,npm_wr,opmbd_wr,opmad_wr,gpm_wr,ptpm_wr,cfm_wr,roa_wr,roe_wr,roce_wr,...,cash_ratio_wr,quick_ratio_wr,curr_ratio_wr,cash_conversion_wr,inv_turn_wr,at_turn_wr,rect_turn_wr,pay_turn_wr,rd_sale_wr,accrual_wr
N,1644166.00,2289212.00,2288487.00,2288657.00,2285483.00,2288852.00,2241111.00,2289456.00,2218962.00,2266503.00,...,1977574.00,1967715.00,1967137.00,1740670.00,1810305.00,2259811.00,2206715.00,2188628.00,2374896.00,2296485.00
Mean,32551457699.95,-2410916944349.92,-2265776471532.58,-2305850112100.11,-2.09,-2411165073149.84,-2382746771582.73,0.04,1.58,0.12,...,1.72,2.63,3.25,6928366664500.26,56.76,1.07,21.89,16.58,1.74,-0.05
p1,0.00,-23.73,-21.49,-22.79,-12.11,-24.18,-22.69,-1.04,-3.29,-1.88,...,0.00,0.16,0.29,1.90,0.19,0.02,0.07,-0.01,0.00,-0.61
p10,0.00,-0.46,-0.27,-0.38,0.08,-0.48,-0.35,-0.17,-0.50,-0.29,...,0.04,0.54,0.89,18.52,1.68,0.09,0.26,0.09,0.00,-0.17
p50,0.00,0.03,0.11,0.07,0.34,0.05,0.07,0.09,0.08,0.10,...,0.38,1.38,2.03,82.07,5.18,0.91,5.98,8.43,0.00,-0.04
p90,0.60,0.15,0.35,0.28,0.69,0.22,0.23,0.24,0.24,0.29,...,3.64,4.84,5.71,228.28,43.21,2.13,17.92,22.26,0.15,0.07
p99,3.96,0.37,0.64,0.53,0.92,0.50,0.57,0.47,1.01,0.82,...,19.21,20.51,21.36,1497.08,372.99,4.33,182.70,77.58,6.95,0.33

In [11]:
# 轉置 summary_stats 並匯出 CSV
summary_stats_transposed = summary_stats.T  # 轉置 DataFrame
summary_stats_transposed.to_csv('summary_statistics_wr.csv', index=True)  # 匯出 CSV 檔案，保留索引

##### Input variable:_an

In [5]:
v1 = pd.read_csv("C:\\Users\\cindy\\Desktop\\UIUC\\入學後\\Relative-Valuation\\variables.csv")

In [6]:
v1 = v1.rename(columns={'GVKEY': 'gvkey'})
v1['beq'] = v1['atq']-v1['ltq']

#1.
v1_df = v1.sort_values(by=['gvkey', 'datadate'])  # 先按公司和日期排序
# 計算 lag 變數
v1_df['l_atq'] = v1_df.groupby('gvkey')['atq'].shift(1)  
v1_df['d_atq'] = v1_df['atq']-v1_df['l_atq']
v1_df['assetgrowth_an'] = v1_df['d_atq'] / v1_df['l_atq']

#2.
v1_df['assetturnover2_an'] = v1_df['saleq']/((v1_df['atq']+v1_df['l_atq'])/2)

#3.
v1_df['assetturnover_an'] = v1_df['saleq']/v1_df['atq']

#4.
v1_df['l_beq'] = v1_df.groupby('gvkey')['beq'].shift(1)
v1_df['bookequitygrowth_an'] = (v1_df['beq'] / v1_df['l_beq'])-1

#5.
v1_df['l_capxy'] = v1_df.groupby('gvkey')['capxy'].shift(1)  
v1_df['capexgrowth_an'] = (v1_df['capxy']-v1_df['l_capxy']) / v1_df['l_capxy']

#6.
v1['cash2assets_an'] = v1['cheq']/v1['atq']

#7.
v1_df['l_ltq'] = v1_df.groupby('gvkey')['ltq'].shift(1)
v1_df['d_ltq'] = v1_df['ltq']-v1_df['l_ltq']
v1_df['cf2debt_an'] = (v1_df['ibq']+v1_df['dpy'])/(v1_df['d_ltq']/2)

#8.
v1_df['chbe_an'] = (v1_df['beq']-v1_df['l_beq'])/v1_df['l_atq']

#9.
v1_df['l_actq'] = v1_df.groupby('gvkey')['actq'].shift(1)
v1_df['l_cheq'] = v1_df.groupby('gvkey')['cheq'].shift(1)
v1_df['chca_an'] = ((v1_df['actq']-v1_df['l_actq'])-(v1_df['cheq']-v1_df['l_cheq']))/(v1_df['atq']-v1_df['l_atq'])

#10.
v1_df['l_ceqq'] = v1_df.groupby('gvkey')['ceqq'].shift(1)
v1_df['chceq_an'] = (v1_df['ceqq']-v1_df['l_ceqq'])/v1_df['l_ceqq']

#11.
v1_df['l_dlcq'] = v1_df['dlcq'].shift(1)
v1_df['d_dlcq'] = v1_df['dlcq']-v1_df['l_dlcq']
v1_df['d_dlcq_filled'] = v1_df['d_dlcq'].fillna(0)
v1_df['l_lctq'] = v1_df.groupby('gvkey')['lctq'].shift(1)
v1_df['d_lctq'] = v1_df['lctq']-v1_df['l_lctq']
v1_df['chcl_an'] = (v1_df['d_lctq'] - v1_df['d_dlcq_filled']) / v1_df['l_atq']

#12.
v1_df['chcurrentratio_an'] = ((v1_df['actq']-v1_df['lctq'])-(v1_df['l_actq']-v1_df['l_lctq']))/(v1_df['l_actq']-v1_df['l_lctq'])

#13.
v1_df['l_dlttq'] = v1_df['dlttq'].shift(1)
v1_df['d_dlttq'] = v1_df['dlttq']-v1_df['l_dlttq']
v1_df['d_dlttq_filled'] = v1_df['d_dlttq'].fillna(0)
v1_df['l_pstkq'] = v1_df['pstkq'].shift(1)
v1_df['d_pstkq'] = v1_df['pstkq']-v1_df['l_pstkq']
v1_df['d_pstkq_filled'] = v1_df['d_pstkq'].fillna(0)
v1_df['chfnl_an'] = (v1_df['d_dlttq_filled']+v1_df['d_dlcq_filled']+v1_df['d_pstkq_filled']) / v1_df['l_atq']

#14.
v1_df['chlt_an'] = v1_df['ltq']/v1_df['l_ltq']-1

#15.
v1_df['chnccl_an'] = (v1_df['d_ltq']-v1_df['d_lctq']-v1_df['d_dlttq_filled']) / v1_df['l_atq']

#16.
v1['debt2tang_an'] = (v1['cheq']+v1['rectq']*0.715+v1['invtq']*0.547+v1['ppentq']*0.535)/v1['atq']

#17.
v1['deprn_an'] = v1['dpy']/v1['ppentq']

#18.
v1['ebitda2revenue_an'] = v1['oibdpq']/v1['saleq']

#19.
v1['grossmargin_an'] = (v1['saleq']-v1['cogsq'])/v1['saleq']

#20. 
v1['grossprofit_an'] = (v1['saleq']-v1['cogsq'])/v1['atq']

#21. 
v1_df['l_invtq'] = v1_df.groupby('gvkey')['invtq'].shift(1)
v1_df['d_invtq'] = v1_df['invtq']-v1_df['l_invtq']
v1_df['inventorychange_an'] = v1_df['d_invtq']/(0.5*v1_df['l_atq']+0.5*v1_df['atq'])

#22.
v1_df['inventorygrowth_an'] = v1_df['d_invtq']/v1_df['l_invtq']

#23.
v1_df['investment_an'] = v1_df['d_atq']/v1_df['atq']

#24.
v1_df['liquid2assets_an'] = (v1_df['cheq']+0.75*(v1_df['actq']-v1_df['cheq'])+0.5*(v1_df['atq']-v1_df['actq']))/v1_df['l_atq']

#25.
v1_df['l_ibq'] = v1_df.groupby('gvkey')['ibq'].shift(1)
v1_df['l_saleq'] = v1_df.groupby('gvkey')['saleq'].shift(1)
v1_df['marginch_an'] = (v1_df['ibq']/v1_df['saleq'])-(v1_df['l_ibq']/v1_df['l_saleq'])

#26.
v1['opleverage_an'] = (v1['cogsq']+v1['xsgaq'])/v1['atq']

#27.
v1_df['l_dpy'] = v1_df.groupby('gvkey')['dpy'].shift(1)
v1_df['l_ppentq'] = v1_df.groupby('gvkey')['ppentq'].shift(1)
v1_df['pchdeprn_an'] = ((v1_df['dpy']/v1_df['ppentq'])-(v1_df['l_dpy']/v1_df['l_ppentq']))/(v1_df['l_dpy']/v1_df['l_ppentq'])

#28.
v1_df['l_cogsq'] = v1_df.groupby('gvkey')['cogsq'].shift(1)
v1_df['pchgm2pchsale_an'] = ((v1_df['saleq']-v1_df['cogsq'])-(v1_df['l_saleq']-v1_df['l_cogsq']))/(v1_df['l_saleq']-v1_df['l_cogsq'])-((v1_df['saleq']-v1_df['l_saleq'])/v1_df['l_saleq'])

#29.
v1_df['pchquickratio_an'] = ((v1_df['actq']-v1_df['invtq'])/v1_df['lctq']-(v1_df['l_actq']-v1_df['l_invtq'])/v1_df['l_lctq'])/((v1_df['l_actq']-v1_df['l_invtq'])/v1_df['l_lctq'])

#30.
v1_df['pchsale2pchinvt_an'] = ((v1_df['saleq']-v1_df['l_saleq'])/v1_df['l_saleq'])-((v1_df['invtq']-v1_df['l_invtq'])/v1_df['l_invtq'])

#31.
v1_df['l_rectq'] = v1_df.groupby('gvkey')['rectq'].shift(1)
v1_df['pchsale2pchrect_an'] = ((v1_df['saleq']-v1_df['l_saleq'])/v1_df['l_saleq'])-((v1_df['rectq']-v1_df['l_rectq'])/v1_df['l_rectq'])

#32.
v1_df['l_xsgaq'] = v1_df.groupby('gvkey')['xsgaq'].shift(1)
v1_df['pchsale2pchxsga_an'] = ((v1_df['saleq']-v1_df['l_saleq'])/v1_df['l_saleq'])-((v1_df['xsgaq']-v1_df['l_xsgaq'])/v1_df['l_xsgaq'])

#33.
v1_df['pchsales2inv_an'] = ((v1_df['saleq']/v1_df['invtq'])/(v1_df['l_saleq']-v1_df['l_invtq']))/(v1_df['l_saleq']/v1_df['l_invtq'])

#34.
v1['profitability_an'] = (v1['saleq']-v1['cogsq']-v1['xintq']-v1['xsgaq'])/v1['beq']

#35.check
v1['roic_an'] = v1['oiadpq']/(v1['ceqq']+v1['ltq']-v1['cheq'])

#36.
v1['sales2cash_an'] = v1['saleq']/v1['cheq']

#37.
v1['sales2inv_an'] = v1['saleq']/v1['invtq']

#38.
v1['sales2rec_an'] = v1['saleq']/v1['rectq']

#39.
v1_df['salesgrowth_an'] = (v1_df['saleq']/v1_df['l_saleq'])-1

#40. m2b
v1['mkvaltq'] = v1['prccq']*v1['cshoq']
v1['m2b'] = v1['mkvaltq']/v1['ceqq']
v1['lnm2b_y'] = np.log10(v1['m2b'])

#41. v2a
v1['v2a'] = (v1['mkvaltq']+v1['dlttq']+v1['dlcq']-v1['cheq'])/v1['atq']
v1['lnv2a_y'] = np.log10(v1['v2a'])

#42. v2s
v1['v2s'] = (v1['mkvaltq']+v1['dlttq']+v1['dlcq'])/v1['saleq']
v1['lnv2s_y'] = np.log10(v1['v2s'])

c:\Users\cindy\AppData\Local\Programs\Python\Python312\Lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log10
  result = getattr(ufunc, method)(*inputs, **kwargs)
c:\Users\cindy\AppData\Local\Programs\Python\Python312\Lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log10
  result = getattr(ufunc, method)(*inputs, **kwargs)
c:\Users\cindy\AppData\Local\Programs\Python\Python312\Lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log10
  result = getattr(ufunc, method)(*inputs, **kwargs)
c:\Users\cindy\AppData\Local\Programs\Python\Python312\Lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log10
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [8]:
# 使用 'gvkey' 和 'datadate' 作為鍵進行合併
v1 = v1.merge(v1_df[['gvkey', 'datadate', 'assetgrowth_an', 'assetturnover2_an', 'assetturnover_an','bookequitygrowth_an','capexgrowth_an','cf2debt_an','chbe_an','chca_an','chceq_an','chcl_an','chcurrentratio_an','chfnl_an','chlt_an','chnccl_an','inventorychange_an','inventorygrowth_an','investment_an','liquid2assets_an','marginch_an','pchdeprn_an','pchgm2pchsale_an','pchquickratio_an','pchsale2pchinvt_an','pchsale2pchrect_an','pchsale2pchxsga_an','pchsales2inv_an','salesgrowth_an']], on=['gvkey', 'datadate'], how='left')
v1

,gvkey,datadate,fyearq,fqtr,indfmt,consol,popsrc,datafmt,cusip,curcdq,...,liquid2assets_an,marginch_an,pchdeprn_an,pchgm2pchsale_an,pchquickratio_an,pchsale2pchinvt_an,pchsale2pchrect_an,pchsale2pchxsga_an,pchsales2inv_an,salesgrowth_an
0,1001,1983-09-30,1983,3,INDL,C,D,STD,000165100,USD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1001,1983-12-31,1983,4,INDL,C,D,STD,000165100,USD,...,0.985579,-0.025951,NaN,0.033362,3.548562,0.175027,-3.557287,-0.028667,0.188590,0.266243
2,1001,1984-03-31,1984,1,INDL,C,D,STD,000165100,USD,...,0.632440,0.009452,NaN,-0.009963,-0.155006,-0.280210,-0.687709,-0.032330,0.094053,-0.212099
3,1001,1984-06-30,1984,2,INDL,C,D,STD,000165100,USD,...,0.668299,0.016280,NaN,-0.007980,-0.194477,-0.010655,0.794687,0.080655,0.162755,0.174852
4,1001,1984-09-30,1984,3,INDL,C,D,STD,000165100,USD,...,0.658147,-0.006212,NaN,-0.013179,-0.179414,-0.053790,0.174710,-0.012775,0.133142,0.066014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1001173,332115,2020-03-31,2020,1,INDL,C,D,STD,04216R102,USD,...,1.357402,NaN,-0.760569,NaN,1.972666,NaN,NaN,NaN,NaN,NaN
1001174,335466,2019-06-30,2019,2,INDL,C,D,STD,G4511M108,USD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1001175,335466,2019-09-30,2019,3,INDL,C,D,STD,G4511M108,USD,...,0.510665,-0.167007,0.674928,-0.405904,-0.239627,0.240886,-0.047698,0.189975,0.133937,-0.075749
1001176,335466,2019-12-31,2019,4,INDL,C,D,STD,G4511M108,USD,...,0.558131,0.301416,0.377049,0.853191,22.976665,0.076759,0.175747,-0.973087,0.107986,0.088511
1001177,335466,2020-03-31,2020,1,INDL,C,D,STD,G4511M108,USD,...,0.534807,-0.450306,-0.710135,-0.734002,0.099126,-0.440812,-0.180070,0.186719,0.059965,-0.149883

In [ ]:
# 目標變數（m2b, v2a, v2s）為正且不缺失
# v2 = v1.dropna(subset=['lnm2b_y', 'lnv2a_y', 'lnv2s_y'])
# v2 = v2[(v2['lnm2b_y'] > 0) & (v2['lnv2a_y'] > 0) & (v2['lnv2s_y'] > 0)]
# v2

,gvkey,datadate,fyearq,fqtr,indfmt,consol,popsrc,datafmt,cusip,curcdq,...,liquid2assets_an,marginch_an,pchdeprn_an,pchgm2pchsale_an,pchquickratio_an,pchsale2pchinvt_an,pchsale2pchrect_an,pchsale2pchxsga_an,pchsales2inv_an,salesgrowth_an
0,1001,1983-09-30,1983,3,INDL,C,D,STD,000165100,USD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1001,1983-12-31,1983,4,INDL,C,D,STD,000165100,USD,...,0.985579,-0.025951,NaN,0.033362,3.548562,0.175027,-3.557287,-0.028667,0.188590,0.266243
2,1001,1984-03-31,1984,1,INDL,C,D,STD,000165100,USD,...,0.632440,0.009452,NaN,-0.009963,-0.155006,-0.280210,-0.687709,-0.032330,0.094053,-0.212099
3,1001,1984-06-30,1984,2,INDL,C,D,STD,000165100,USD,...,0.668299,0.016280,NaN,-0.007980,-0.194477,-0.010655,0.794687,0.080655,0.162755,0.174852
4,1001,1984-09-30,1984,3,INDL,C,D,STD,000165100,USD,...,0.658147,-0.006212,NaN,-0.013179,-0.179414,-0.053790,0.174710,-0.012775,0.133142,0.066014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1001156,330227,2019-03-31,2019,1,INDL,C,D,STD,Y1146L208,USD,...,0.639621,0.000000,1.005682,0.000000,0.000000,0.000000,0.000000,0.000000,1.161440,0.000000
1001157,330227,2019-03-31,2019,2,INDL,C,D,STD,Y1146L208,USD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1001158,330227,2019-03-31,2019,2,INDL,C,D,STD,Y1146L208,USD,...,0.639621,0.000000,1.005682,0.000000,0.000000,0.000000,0.000000,0.000000,1.161440,0.000000
1001171,332115,2019-09-30,2019,3,INDL,C,D,STD,04216R102,USD,...,0.552984,NaN,0.966993,NaN,-0.206271,NaN,NaN,NaN,NaN,NaN
1001172,332115,2019-12-31,2019,4,INDL,C,D,STD,04216R102,USD,...,0.542503,NaN,0.462973,NaN,-0.318270,NaN,NaN,NaN,NaN,NaN

In [12]:
an_columns = [col for col in v1.columns if col.endswith('an')]
others = ['gvkey', 'datadate', 'cusip', 'sic']
all = an_columns+others
an_df = v1[all]
an_df

,cash2assets_an,debt2tang_an,deprn_an,ebitda2revenue_an,grossmargin_an,grossprofit_an,opleverage_an,profitability_an,roic_an,sales2cash_an,...,pchquickratio_an,pchsale2pchinvt_an,pchsale2pchrect_an,pchsale2pchxsga_an,pchsales2inv_an,salesgrowth_an,gvkey,datadate,cusip,sic
0,0.15,0.54,NaN,0.12,0.75,0.51,0.60,0.31,0.08,4.57,...,NaN,NaN,NaN,NaN,NaN,NaN,1001,1983-09-30,000165100,5812
1,0.30,0.65,NaN,0.13,0.77,0.44,0.50,0.11,0.06,1.91,...,3.55,0.18,-3.56,-0.03,0.19,0.27,1001,1983-12-31,000165100,5812
2,0.23,0.61,0.03,0.09,0.76,0.34,0.41,0.06,0.03,1.94,...,-0.16,-0.28,-0.69,-0.03,0.09,-0.21,1001,1984-03-31,000165100,5812
3,0.23,0.61,NaN,0.13,0.75,0.37,0.43,0.10,0.06,2.20,...,-0.19,-0.01,0.79,0.08,0.16,0.17,1001,1984-06-30,000165100,5812
4,0.21,0.60,NaN,0.12,0.74,0.37,0.44,0.09,0.05,2.36,...,-0.18,-0.05,0.17,-0.01,0.13,0.07,1001,1984-09-30,000165100,5812
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1001173,0.55,0.61,0.08,-inf,-inf,-0.10,NaN,NaN,-0.25,0.00,...,1.97,NaN,NaN,NaN,NaN,NaN,332115,2020-03-31,04216R102,2836
1001174,0.05,0.56,0.03,0.14,0.26,0.02,0.05,-0.01,-0.00,1.17,...,NaN,NaN,NaN,NaN,NaN,NaN,335466,2019-06-30,G4511M108,4400
1001175,0.04,0.56,0.04,0.05,0.14,0.01,0.06,-0.03,-0.01,1.63,...,-0.24,0.24,-0.05,0.19,0.13,-0.08,335466,2019-09-30,G4511M108,4400
1001176,0.06,0.57,0.06,0.09,0.26,0.02,0.06,-0.02,-0.01,1.01,...,22.98,0.08,0.18,-0.97,0.11,0.09,335466,2019-12-31,G4511M108,4400
1001177,0.05,0.56,0.02,-0.10,0.03,0.00,0.06,-0.06,-0.02,1.01,...,0.10,-0.44,-0.18,0.19,0.06,-0.15,335466,2020-03-31,G4511M108,4400

In [13]:
# 先將無窮大值轉換為 NaN
an_df.replace([np.inf, -np.inf], np.nan, inplace=True)

# 過濾掉 NaN 比例超過 90% 的欄位
# valid_columns = v1.columns[v1.isnull().mean() < 0.9]
numeric_cols = an_columns

# 計算 summary statistics，忽略 NaN
summary_stats = an_df[numeric_cols].agg([
    'count', 
    lambda x: x.mean(skipna=True), 
    lambda x: x.quantile(0.01), 
    lambda x: x.quantile(0.10), 
    lambda x: x.median(skipna=True), 
    lambda x: x.quantile(0.90), 
    lambda x: x.quantile(0.99)
])

# 重命名 index
summary_stats.index = ['N', 'Mean', 'p1', 'p10', 'p50', 'p90', 'p99']

# 設置顯示格式
summary_stats.loc['N'] = summary_stats.loc['N'].astype(int)  # 將 'N' 設為整數
pd.options.display.float_format = '{:.2f}'.format  # 其他值顯示到小數點後兩位

summary_stats

C:\Users\cindy\AppData\Local\Temp\ipykernel_13448\3929338507.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  an_df.replace([np.inf, -np.inf], np.nan, inplace=True)

,cash2assets_an,debt2tang_an,deprn_an,ebitda2revenue_an,grossmargin_an,grossprofit_an,opleverage_an,profitability_an,roic_an,sales2cash_an,...,liquid2assets_an,marginch_an,pchdeprn_an,pchgm2pchsale_an,pchquickratio_an,pchsale2pchinvt_an,pchsale2pchrect_an,pchsale2pchxsga_an,pchsales2inv_an,salesgrowth_an
N,889160.00,816929.00,569675.00,763287.00,873484.00,884412.00,708961.00,532203.00,869484.00,878568.00,...,699475.00,848490.00,488824.00,837300.00,680631.00,612185.00,789602.00,673940.00,612488.00,851677.00
Mean,0.17,0.53,0.33,-3.03,-2.07,0.07,0.26,0.07,-134137019413.47,41.13,...,0.72,0.06,1.06,-0.39,0.27,-0.08,-0.38,0.13,-0.90,0.39
p1,0.00,0.05,0.00,-21.75,-14.02,-0.21,0.01,-1.15,-1.82,0.00,...,0.44,-6.51,-0.87,-6.42,-0.70,-1.92,-1.84,-1.08,-10.01,-0.78
p10,0.01,0.30,0.03,-0.28,0.06,0.00,0.02,-0.10,-0.10,0.15,...,0.54,-0.18,-0.75,-0.32,-0.29,-0.39,-0.30,-0.24,-0.15,-0.21
p50,0.07,0.53,0.10,0.12,0.35,0.06,0.21,0.04,0.01,1.95,...,0.66,0.00,0.43,-0.00,-0.01,0.01,-0.00,0.00,0.01,0.02
p90,0.50,0.73,0.45,0.41,0.72,0.17,0.52,0.14,0.06,29.89,...,0.87,0.17,1.05,0.25,0.32,0.40,0.27,0.25,0.50,0.30
p99,0.93,0.95,2.30,0.84,0.95,0.34,1.13,0.90,0.23,381.88,...,1.53,6.75,2.04,3.64,2.37,1.77,1.52,1.33,8.84,2.27

In [14]:
# 轉置 summary_stats 並匯出 CSV
summary_stats_transposed = summary_stats.T  # 轉置 DataFrame
summary_stats_transposed.to_csv('summary_statistics_an.csv', index=True)  # 匯出 CSV 檔案，保留索引

In [ ]:
merged_df = pd.merge(wr_df, an_df, left_on='qdate', right_on='datadate', how='inner')
print(merged_df)

##### summary statistics table

In [ ]:
# pd.set_option('display.max_rows', None)
# Ensure 'datadate' is in datetime format
v1['datadate'] = pd.to_datetime(v1['datadate'], errors='coerce')

# Extract month-year period
v1['month'] = v1['datadate'].dt.to_period('M')

# Calculate missing and non-missing value counts for each column grouped by month-year
missing_values_count = v1.groupby('month')[['mkvaltq', 'ceqq', 'dlttq', 'dlcq', 'cheq', 'atq', 'saleq', 'm2b', 'v2a', 'v2s']].apply(lambda x: x.isnull().sum())
non_missing_values_count = v1.groupby('month')[['mkvaltq', 'ceqq', 'dlttq', 'dlcq', 'cheq', 'atq', 'saleq', 'm2b', 'v2a', 'v2s']].apply(lambda x: x.notnull().sum())

# Display both counts side by side
combined_counts = pd.concat([missing_values_count, non_missing_values_count], axis=1, keys=['Missing', 'Not Missing'])

# Print the combined DataFrame
combined_counts

In [ ]:
# Calculate total missing and non-missing counts for each column across the entire DataFrame
missing_values_count = v1[['mkvaltq', 'ceqq', 'dlttq', 'dlcq', 'cheq', 'atq', 'saleq', 'm2b', 'v2a', 'v2s']].isnull().sum()
non_missing_values_count = v1[['mkvaltq', 'ceqq', 'dlttq', 'dlcq', 'cheq', 'atq', 'saleq', 'm2b', 'v2a', 'v2s']].notnull().sum()

# Calculate missing ratio for each column
missing_ratio = round(missing_values_count / (missing_values_count + non_missing_values_count),2)

# Combine results into a DataFrame
missing_ratio_df = pd.DataFrame({
    'Missing Count': missing_values_count,
    'Not Missing Count': non_missing_values_count,
    'Missing Ratio': missing_ratio
})

# Display the DataFrame
missing_ratio_df

##### 篩選欄位

In [ ]:
# 篩選出以 'wr' 結尾的欄位
wr_columns = [col for col in v1.columns if col.endswith('wr')]
target_columns = ['lnm2b_y', 'lnv2a_y', 'lnv2s_y']

# 指定要保留的其他欄位
other_columns = ['gvkey', 'datadate', 'fyearq', 'fqtr', 'sic']

# 合併兩個欄位列表
columns_to_keep = other_columns + wr_columns + target_columns

# 篩選 DataFrame 中指定的欄位
df = v1[columns_to_keep]
df.head()

In [ ]:
# 先將無窮大值轉換為 NaN
v1.replace([np.inf, -np.inf], np.nan, inplace=True)

# 過濾掉 NaN 比例超過 90% 的欄位
# valid_columns = v1.columns[v1.isnull().mean() < 0.9]
numeric_cols = wr_columns + target_columns

# 計算 summary statistics，忽略 NaN
summary_stats = v1[numeric_cols].agg([
    'count', 
    lambda x: x.mean(skipna=True), 
    lambda x: x.quantile(0.01), 
    lambda x: x.quantile(0.10), 
    lambda x: x.median(skipna=True), 
    lambda x: x.quantile(0.90), 
    lambda x: x.quantile(0.99)
])

# 重命名 index
summary_stats.index = ['N', 'Mean', 'p1', 'p10', 'p50', 'p90', 'p99']

# 設置顯示格式
summary_stats.loc['N'] = summary_stats.loc['N'].astype(int)  # 將 'N' 設為整數
pd.options.display.float_format = '{:.2f}'.format  # 其他值顯示到小數點後兩位

summary_stats

In [ ]:
# 轉置 summary_stats 並匯出 CSV
summary_stats_transposed = summary_stats.T  # 轉置 DataFrame
# summary_stats_transposed.to_csv('summary_statistics.csv', index=True)  # 匯出 CSV 檔案，保留索引

In [ ]:
stop

-----

##### Target variables

In [ ]:
# Ensure 'datadate' is in datetime format
df['datadate'] = pd.to_datetime(df['datadate'], errors='coerce')

# Extract month-year period
df['month'] = df['datadate'].dt.to_period('M')

# Calculate missing and non-missing value counts for each column grouped by month-year
missing_values_count = df.groupby('month')[['mkvaltq', 'ceqq', 'dlttq', 'dlcq', 'cheq', 'atq', 'saleq', 'm2b', 'v2a', 'v2s']].apply(lambda x: x.isnull().sum())
non_missing_values_count = df.groupby('month')[['mkvaltq', 'ceqq', 'dlttq', 'dlcq', 'cheq', 'atq', 'saleq', 'm2b', 'v2a', 'v2s']].apply(lambda x: x.notnull().sum())

# Display both counts side by side
combined_counts = pd.concat([missing_values_count, non_missing_values_count], axis=1, keys=['Missing', 'Not Missing'])

# Print the combined DataFrame
combined_counts

In [ ]:
selected_t1 = t1[['m2b','v2a','v2s','lnm2b','lnv2a','lnv2s','gvkey', 'datadate', 'fyearq', 'fqtr', 'indfmt', 'consol', 'popsrc',
       'datafmt', 'tic', 'curcdq', 'datacqtr', 'datafqtr','costat', 'naics', 'sic']]
df = df.merge(selected_t1, on=['gvkey', 'datadate', 'fyearq', 'fqtr', 'tic', 'naics', 'sic'], how='left')
df

##### 各步驟篩選後的樣本量

In [ ]:
# 加上cusip
cusip = pd.read_csv("C:\\Users\\cindy\\Desktop\\UIUC\\入學後\\Relative-Valuation\\cusip.csv")
cusip = cusip[['gvkey', 'datadate', 'fyearq', 'fqtr', 'tic', 'naics', 'sic','cusip']]
# cusip['month'] = pd.to_datetime(cusip['datadate']).dt.to_period('M')
df = df.merge(cusip, on=['gvkey', 'datadate', 'fyearq', 'fqtr', 'tic', 'naics', 'sic'], how='left')
df

In [ ]:
# drop cusip if it is na
df = df.dropna(subset=['cusip'])

df1 = df[['gvkey','cusip']]
df1 = df1.drop_duplicates()
# 根據 cusip 欄位進行排序
df1 = df1.sort_values(by='cusip')
df1 = df1.reset_index(drop=True)
df2 = df1['cusip']
# 將 DataFrame 中的單一欄位保存到純文字文件
# df2.to_csv("output.txt", index=False)

In [ ]:
df1, df2

In [ ]:
cusip = pd.read_csv("C:\\Users\\cindy\\Desktop\\UIUC\\入學後\\Relative-Valuation\\cusip convert.csv")
cusip = cusip.rename(columns={'cusip': 'crsp_cusip'})
cusip

In [ ]:
df1 = df1.rename(columns={'cusip': 'compstat_cusip'})
merged_df = pd.merge(df1, cusip, left_index=True, right_index=True, how='inner')
new_df = df.merge(merged_df, on=['gvkey'], how='left')
new_df
# new_df is updated cusip df

##### 把new_df存成csv，以後執行以下程式碼即可

In [ ]:
# new_df.to_csv('new_df.csv', index=False)
new_df = pd.read_csv("C:\\Users\\cindy\\Desktop\\UIUC\\入學後\\Relative-Valuation\\new_df.csv")

In [ ]:
new_df

In [ ]:
s_e = pd.read_csv("C:\\Users\\cindy\\Desktop\\UIUC\\入學後\\Relative-Valuation\\share&exc code.csv")
s_e = s_e[['CUSIP','SHRCD','EXCHCD']]
# 使用 drop_duplicates 刪除重複項
s_e = s_e.drop_duplicates()

In [ ]:
model_df = pd.merge(new_df, s_e, left_on='crsp_cusip', right_on='CUSIP', how='left')
print(model_df)

In [ ]:
# 1. 第一步：所有美國普通股上市公司（在指定交易所）
step1_df = model_df[(model_df['EXCHCD'].isin([1, 2, 3])) & (model_df['SHRCD'].isin([10, 11]))]
step1_firm_months = len(step1_df)
step1_unique_firms = step1_df['gvkey'].nunique()

# 2. 第二步：目標變數（m2b, v2a, v2s）為正且不缺失
step2_df = step1_df.dropna(subset=['lnm2b', 'lnv2a', 'lnv2s'])
# step2_df = step2_df[(step2_df['lnm2b'] > 0) & (step2_df['lnv2a'] > 0) & (step2_df['lnv2s'] > 0)]
step2_firm_months = len(step2_df)
step2_unique_firms = step2_df['gvkey'].nunique()

# 3. 第三步：每月所有規模變數位於第 10 百分位以上
# 提取每月的第 10 百分位值並進行篩選
step2_df['month'] = pd.to_datetime(step2_df['datadate']).dt.to_period('M')
percentiles = step2_df.groupby('month')[['atq_wr', 'saleq_wr', 'ceqq_wr']].quantile(0.1).rename(columns={
    'atq_wr': 'atq_wr_10th', 'saleq_wr': 'saleq_wr_10th', 'ceqq_wr': 'ceqq_wr_10th'
}).reset_index()

# 合併百分位數並篩選符合條件的觀察值
step3_df = step2_df.merge(percentiles, on='month', how='left')
step3_df = step3_df[(step3_df['atq_wr'] >= step3_df['atq_wr_10th']) & 
                    (step3_df['saleq_wr'] >= step3_df['saleq_wr_10th']) & 
                    (step3_df['ceqq_wr'] >= step3_df['ceqq_wr_10th'])]
step3_firm_months = len(step3_df)
step3_unique_firms = step3_df['gvkey'].nunique()

# 創建表格
summary_table = pd.DataFrame({
    '步驟': [
        '在紐約證券交易所（NYSE）、納斯達克（NASDAQ）或美國證券交易所（AMEX）上市的美國普通股',
        '目標變數（m2b, v2a, v2s）為正且不缺失',
        '每月所有規模變數（資產、賬面權益或銷售額）位於第 10 百分位以上'
    ],
    '公司-月份觀察值數量': [step1_firm_months, step2_firm_months, step3_firm_months],
    '公司數量': [step1_unique_firms, step2_unique_firms, step3_unique_firms]
})

# 顯示結果
print(summary_table)

In [ ]:
step3_df.columns

##### add in fama-french 49 industries categories

In [ ]:
sic_data = [
    ["Agric", "0100-0799"],
    ["Agric", "2048-2048"],
    ["Food", "2000-2046"],
    ["Food", "2050-2063"],
    ["Food", "2070-2079"],
    ["Food", "2090-2095"],
    ["Food", "2098-2099"],
    ["Soda", "2064-2068"],
    ["Soda", "2086-2087"],
    ["Soda", "2096-2097"],
    ["Beer", "2080-2085"],
    ["Smoke", "2100-2199"],
    ["Toys", "0900-0999"],
    ["Toys", "3650-3652"],
    ["Toys", "3732-3732"],
    ["Toys", "3930-3949"],
    ["Fun", "7800-7841"],
    ["Fun", "7900-7999"],
    ["Books", "2700-2749"],
    ["Books", "2770-2799"],
    ["Hshld", "2047-2047"],
    ["Hshld", "2391-2392"],
    ["Hshld", "2510-2519"],
    ["Hshld", "2590-2599"],
    ["Hshld", "2840-2844"],
    ["Hshld", "3160-3199"],
    ["Hshld", "3229-3231"],
    ["Hshld", "3260-3260"],
    ["Hshld", "3262-3263"],
    ["Hshld", "3269-3269"],
    ["Hshld", "3630-3639"],
    ["Hshld", "3750-3751"],
    ["Hshld", "3800-3800"],
    ["Hshld", "3860-3879"],
    ["Hshld", "3910-3919"],
    ["Hshld", "3960-3961"],
    ["Hshld", "3991-3991"],
    ["Hshld", "3995-3995"],
    ["Clths", "2300-2390"],
    ["Clths", "3020-3021"],
    ["Clths", "3100-3111"],
    ["Clths", "3130-3159"],
    ["Clths", "3965-3965"],
    ["Hlth", "8000-8099"],
    ["MedEq", "3693-3693"],
    ["MedEq", "3840-3851"],
    ["Drugs", "2830-2836"],
    ["Chems", "2800-2829"],
    ["Chems", "2850-2899"],
    ["Rubbr", "3000-3000"],
    ["Rubbr", "3050-3099"],
    ["Txtls", "2200-2295"],
    ["Txtls", "2297-2299"],
    ["Txtls", "2393-2395"],
    ["Txtls", "2397-2399"],
    ["BIdMt", "0800-0899"],
    ["BIdMt", "2400-2439"],
    ["BIdMt", "2450-2459"],
    ["BIdMt", "2490-2499"],
    ["BIdMt", "2950-2952"],
    ["BIdMt", "3200-3219"],
    ["BIdMt", "3240-3259"],
    ["BIdMt", "3261-3261"],
    ["BIdMt", "3264-3264"],
    ["BIdMt", "3270-3299"],
    ["BIdMt", "3420-3442"],
    ["BIdMt", "3446-3452"],
    ["BIdMt", "3490-3499"],
    ["BIdMt", "3996-3996"],
    ["Construction", "1500-1549"],
    ["Construction", "1600-1699"],
    ["Construction", "1700-1799"],
    ["Steel", "3300-3369"],
    ["Steel", "3390-3399"],
    ["FabPr", "3400-3400"],
    ["FabPr", "3443-3444"],
    ["FabPr", "3460-3479"],
    ["Mach", "3510-3536"],
    ["Mach", "3540-3569"],
    ["Mach", "3580-3599"],
    ["ElcEq", "3600-3621"],
    ["ElcEq", "3623-3629"],
    ["ElcEq", "3640-3646"],
    ["ElcEq", "3648-3649"],
    ["ElcEq", "3660-3660"],
    ["ElcEq", "3691-3692"],
    ["ElcEq", "3699-3699"],
    ["Misc", "3900-3900"],
    ["Misc", "3990-3990"],
    ["Misc", "3999-3999"],
    ["Misc", "9900-9999"],
    ["Autos", "2296-2296"],
    ["Autos", "2396-2396"],
    ["Autos", "3010-3011"],
    ["Autos", "3537-3537"],
    ["Autos", "3647-3647"],
    ["Autos", "3694-3694"],
    ["Autos", "3700-3716"],
    ["Autos", "3790-3792"],
    ["Autos", "3799-3799"],
    ["Aero", "3720-3729"],
    ["Ships", "3730-3731"],
    ["Ships", "3740-3743"],
    ["Guns", "3480-3489"],
    ["Guns", "3760-3769"],
    ["Guns", "3795-3795"],
    ["Gold", "1040-1049"],
    ["Mines", "1000-1039"],
    ["Mines", "1060-1099"],
    ["Mines", "1400-1499"],
    ["Coal", "1200-1299"],
    ["Enrgy", "1310-1389"],
    ["Enrgy", "2900-2911"],
    ["Enrgy", "2990-2999"],
    ["Uti", "4900-4999"],
    ["TeIcm", "4800-4899"],
    ["PerSv", "7020-7021"],
    ["PerSv", "7030-7039"],
    ["PerSv", "7200-7212"],
    ["PerSv", "7215-7299"],
    ["PerSv", "7395-7395"],
    ["PerSv", "7500-7500"],
    ["PerSv", "7520-7549"],
    ["PerSv", "7600-7699"],
    ["PerSv", "8100-8199"],
    ["PerSv", "8200-8299"],
    ["PerSv", "8300-8399"],
    ["PerSv", "8400-8499"],
    ["PerSv", "8600-8699"],
    ["PerSv", "8800-8899"],
    ["BusSv", "2750-2759"],
    ["BusSv", "3993-3993"],
    ["BusSv", "7300-7372"],
    ["BusSv", "7374-7394"],
    ["BusSv", "7397-7397"],
    ["BusSv", "7399-7399"],
    ["BusSv", "7510-7519"],
    ["BusSv", "8700-8748"],
    ["BusSv", "8900-8999"],
    ["Comps", "3570-3579"],
    ["Comps", "3680-3689"],
    ["Comps", "3695-3695"],
    ["Comps", "7373-7373"],
    ["Chips", "3622-3622"],
    ["Chips", "3661-3679"],
    ["Chips", "3810-3810"],
    ["Chips", "3812-3812"],
    ["LabEq", "3811-3811"],
    ["LabEq", "3820-3830"],
    ["Paper", "2520-2549"],
    ["Paper", "2600-2639"],
    ["Paper", "2670-2699"],
    ["Paper", "2760-2761"],
    ["Paper", "3950-3955"],
    ["Boxes", "2440-2449"],
    ["Boxes", "2640-2659"],
    ["Boxes", "3210-3221"],
    ["Boxes", "3410-3412"],
    ["Trans", "4000-4099"],
    ["Trans", "4100-4199"],
    ["Trans", "4200-4299"],
    ["Trans", "4400-4499"],
    ["Trans", "4500-4599"],
    ["Trans", "4600-4699"],
    ["Trans", "4700-4799"],
    ["Whlsl", "5000-5099"],
    ["Whlsl", "5100-5199"],
    ["Rtail", "5200-5299"],
    ["Rtail", "5300-5399"],
    ["Rtail", "5400-5499"],
    ["Rtail", "5500-5599"],
    ["Rtail", "5600-5699"],
    ["Rtail", "5700-5736"],
    ["Rtail", "5900-5999"],
    ["Meals", "5800-5813"],
    ["Meals", "5890-5890"],
    ["Meals", "7000-7019"],
    ["Meals", "7040-7049"],
    ["Meals", "7213-7213"],
    ["Banks", "6000-6099"],
    ["Banks", "6100-6199"],
    ["Insur", "6300-6399"],
    ["Insur", "6400-6411"],
    ["RlBst", "6500-6553"],
    ["Fin", "6200-6299"],
    ["Fin", "6700-6799"]
]
# Create a DataFrame from the data
sic_df = pd.DataFrame(sic_data, columns=["Division", "Range of SIC Codes"])

# Split the 'Range of SIC Codes' into two new columns 'Lower Bound' and 'Upper Bound'
sic_df[['Lower Bound', 'Upper Bound']] = sic_df['Range of SIC Codes'].str.split('-', expand=True)

# Display the resulting DataFrame
print(sic_df[['Lower Bound', 'Upper Bound', 'Division']])

In [ ]:
sic_df['Lower Bound'] = pd.to_numeric(sic_df['Lower Bound'])
sic_df['Upper Bound'] = pd.to_numeric(sic_df['Upper Bound'])

# Function to lookup the division
def find_division(sic_code):
    division = sic_df[(sic_df['Lower Bound'] <= sic_code) & (sic_df['Upper Bound'] >= sic_code)]['Division']
    return division.iloc[0] if not division.empty else 'Unknown'

# Apply the function to the 'sic' column
# 使用 LabelEncoder 編碼產業分類
label_encoder = LabelEncoder()
step3_df['industry'] = step3_df['sic'].apply(find_division)
step3_df['famafrench_wr'] = label_encoder.fit_transform(step3_df['industry'])
step3_df

##### 建立模型

In [ ]:
import numpy as np
import lightgbm as lgb
from numpy import set_printoptions
from sklearn.datasets import make_friedman1
from sklearn.datasets import make_regression
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [ ]:
# 設定了 NumPy 的印出格式，precision=4 代表小數點後保留 4 位數
# linewidth=100 表示每行顯示的最大寬度為 100
set_printoptions(precision=4)
np.set_printoptions(linewidth=100)

In [ ]:
# test settings - 觀測數量、學習率、樹的數量以及每棵樹的葉節點數量
LEARNING_RATE = 0.1
TREES = 12
LEAVES = 5

In [ ]:
# 函數 tree_prediction 用來從梯度提升模型（GBM）中提取單棵樹的預測值
# 根據不同的樹迭代次數，它會返回該樹的預測值
# 如果是第一棵樹（tree_iteration == 0），它返回訓練樣本的平均值；
# 如果是第二棵樹（tree_iteration == 1），它會調整預測值；
# 否則，它會返回指定樹的預測結果
def tree_prediction(model, data, train_sample_average, tree_iteration, learning_rate):
    '''
    extracts individual tree predictions from GBM model
    '''
    if tree_iteration == 0:
        tree_prediction = train_sample_average
    elif tree_iteration == 1:
        gbm1_prediction = model.predict(data, start_iteration=0, num_iteration=1)    
        tree_prediction = (gbm1_prediction - train_sample_average) / learning_rate
    else:
        tree_prediction = model.predict(data, start_iteration=tree_iteration-1, num_iteration=1) / learning_rate
    return tree_prediction

In [ ]:
# 葉節點成員矩陣生成函數
def getD(tree):
    '''
    utility function to create leaf membership matrix D from leaf membership vector tree
    element d_f,c in D takes value of 1 IFF observations f and c are allocated to the same leaf
    that is, tree[f] == tree[c], otherwise 0
    '''
    # 使用 NumPy 來替代雙重迴圈
    tree = np.array(tree)  # 確保 tree 是一個 NumPy 陣列
    D = (tree[:, None] == tree[None, :]).astype(int)
    return D
# getD 會從樹的葉節點生成一個成員矩陣 D。D[f, c] 
# 只有在觀測值 f 和 c 分配到同一個葉節點時才為 1，否則為 0
# tree[:, None] 和 tree[None, :]： 這種方式創建了樹向量的兩個不同視圖，一個是列向量，另一個是行向量。這樣可以進行廣播操作，快速比較每個元素，生成布林矩陣。
# .astype(int)： 將布林矩陣轉換為整數矩陣，以符合原始函數中的邏輯。

In [ ]:
# 選擇特徵欄位和目標欄位
feature_columns = [col for col in step3_df.columns if col.endswith('wr')]
target_column = ['lnm2b']
# target_column = ['lnm2b','lnv2a','lnv2s']
# 生成特徵矩陣 X 和目標變數 y
X = step3_df[feature_columns].to_numpy()
y = step3_df[target_column].to_numpy()

# 確認資料形狀
print("X shape:", X.shape)
print("y shape:", y.shape)

In [ ]:
params = {
    "boosting_type": "gbdt",
    "objective": "regression",
    "metric": "rmse",
    "num_leaves": LEAVES,
    "verbose": 1,
    "min_data": 2,
    "learning_rate": LEARNING_RATE,    
}
# boosting_type: 設定提升樹的類型，這裡使用的是 gbdt（Gradient Boosting Decision Tree，梯度提升決策樹）。
# objective: 模型的目標函數，這裡設定為 regression，表示進行回歸分析。
# metric: 評估指標，這裡使用 rmse（均方根誤差）來評估模型的預測誤差。
# num_leaves: 決策樹中葉節點的數量，這裡設定為 LEAVES（之前設定為 5），葉節點越多，模型越複雜。
# verbose: 設定輸出的詳細程度，1 表示顯示基本的運行資訊。
# min_data: 每個葉節點的最小資料量，這裡設定為 2，避免過度擬合。
# learning_rate: 學習率，這裡使用 LEARNING_RATE（之前設定為 0.1），學習率決定了模型每次更新的步伐大小。

In [ ]:
# 訓練 LightGBM 模型
data = lgb.Dataset(X, label=y)
model = lgb.train(params, data, num_boost_round=TREES-1)
y_hat = model.predict(X)
y_hat.shape  # 輸出預測結果的形狀

# 獲取每個樣本在每棵樹中的葉節點編號
instance_leaf_membership = model.predict(X, pred_leaf=True)

In [ ]:
# 生成並顯示每棵樹的結構圖
for index in range(1, TREES):
    graph = lgb.create_tree_digraph(booster=model, tree_index=index-1,
                    show_info=['internal_count', 'leaf_count', 
                               'leaf_weight', 'data_percentage', 'internal_value'],
                    name="Tree"+str(index))
    graph.render(view=True)

In [ ]:
# 提取 GBM 模型中的樹預測
OBSERVATIONS = X.shape[0]  # 將 OBSERVATIONS 設定為資料集的行數
train_average = y.mean()
tree = []
tp = np.full(OBSERVATIONS, train_average)
tree.append(tp)
for index in range(1, TREES):
    tp = tree_prediction(model=model, data=X, train_sample_average=train_average, tree_iteration=index, learning_rate=LEARNING_RATE)
    tree.append(tp)
# train_average：目標變數 y 的平均值，用於初始化第一棵樹的預測值。
# tree_prediction：提取指定樹的預測值，並將結果添加到 tree 列表中。

In [ ]:
ensemble = tree[0]
for index in range(1, TREES):
    ensemble += LEARNING_RATE * tree[index]

# 確認手動構建的預測值與模型的預測值一致
diff = ensemble - y_hat
assert(np.allclose(diff, np.zeros((1, OBSERVATIONS)), atol=1e-6))
# ensemble：用來累加每棵樹的預測值，最後得到整體預測。
# np.allclose：用來檢查兩個數組是否幾乎相等，確認手動預測與模型預測一致。

##### chatgpt

In [ ]:
# 設定樹的數量範圍
tree_options = [10, 20, 50, 100]
best_tree_count = 0
best_rmse = float("inf")

# 定義參數
params = {
    "boosting_type": "gbdt",
    "objective": "regression",
    "metric": "rmse",
    "num_leaves": 31,
    "min_data_in_leaf": 20,
    "learning_rate": 0.1,
}

# 提取特徵和目標變數
feature_columns = [col for col in step3_df.columns if col.endswith('wr')]
X = step3_df[feature_columns].to_numpy()
y = step3_df['lnm2b'].to_numpy()  # 假設用一個目標變數進行測試

# 分割訓練集和驗證集
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

# 使用不同的樹數進行訓練並記錄 RMSE
for num_trees in tree_options:
    train_data = lgb.Dataset(X_train, label=y_train)
    model = lgb.train(params, train_data, num_boost_round=num_trees)
    
    # 驗證集預測
    y_val_pred = model.predict(X_val)
    rmse = np.sqrt(np.mean((y_val_pred - y_val) ** 2))

    print(f"Number of Trees: {num_trees}, RMSE: {rmse}")

    # 記錄最佳樹數
    if rmse < best_rmse:
        best_rmse = rmse
        best_tree_count = num_trees

print(f"Optimal Number of Trees: {best_tree_count}, Best RMSE: {best_rmse}")

In [ ]:
LEARNING_RATE = 0.1
LEAVES = 31
TREES = 100  # 固定迭代次數，設定為100
params = {
    "boosting_type": "gbdt",
    "objective": "regression",
    "metric": "rmse",
    "num_leaves": LEAVES,
    "verbose": 1,
    "min_data": 20,
    "learning_rate": LEARNING_RATE,
}

# 假設 step3_df 是你的完整資料集
feature_columns = [col for col in step3_df.columns if col.endswith('wr')]
target_columns = ['lnm2b']
# 添加月份列
step3_df['month'] = pd.to_datetime(step3_df['datadate']).dt.to_period('M')

# 儲存樣本外預測結果
oos_predictions = {target: [] for target in target_columns}

# 每月處理數據
for month, monthly_data in step3_df.groupby('month'):
    print(f"Processing month: {month}")

    # 提取特徵矩陣 X 和多目標變數 y
    X = monthly_data[feature_columns].to_numpy()
    y_all = monthly_data[target_columns].to_numpy()

    # 將資料分為 60% 訓練集、20% 驗證集、20% 測試集
    X_train_val, X_test, y_train_val, y_test = train_test_split(X, y_all, test_size=0.2, random_state=42)
    X_train, X_val, y_train, y_val = train_test_split(X_train_val, y_train_val, test_size=0.25, random_state=42)

    # 隨機分配到 5 個區塊
    blocks = np.array_split(np.random.permutation(len(X_train)), 5)

    # 對於每個目標變數，進行五折交叉驗證
    for target_idx, target in enumerate(target_columns):
        print(f"Training models for target: {target}")

        # 訓練資料集
        train_data = lgb.Dataset(X_train, label=y_train[:, target_idx])

        # 使用固定迭代次數訓練模型
        model = lgb.train(
            params,
            train_data,
            num_boost_round=TREES
        )

        # 使用固定迭代次數進行預測
        y_val_pred = model.predict(X_val)
        y_test_pred = model.predict(X_test)

        # 儲存測試結果
        oos_predictions[target].append({
            'month': month,
            'y_val_pred': y_val_pred,
            'y_test_pred': y_test_pred,
            'y_test_actual': y_test[:, target_idx]
        })

# 最終的樣本外預測結果儲存到 DataFrame 中便於分析
oos_df = pd.DataFrame({
    'month': [entry['month'] for target in target_columns for entry in oos_predictions[target]],
    'target': [target for target in target_columns for _ in oos_predictions[target]],
    'y_val_pred': [entry['y_val_pred'] for target in target_columns for entry in oos_predictions[target]],
    'y_test_pred': [entry['y_test_pred'] for target in target_columns for entry in oos_predictions[target]],
    'y_test_actual': [entry['y_test_actual'] for target in target_columns for entry in oos_predictions[target]]
})

# 查看結果
print(oos_df.head())

##### lnv2s

In [ ]:
LEARNING_RATE = 0.05
LEAVES = 31
TREES = 100  # 固定迭代次數，設定為100
params = {
    "boosting_type": "gbdt",
    "objective": "regression",
    "metric": "rmse",
    "num_leaves": LEAVES,
    "verbose": 1,
    "min_data": 20,
    "learning_rate": LEARNING_RATE,
}

# 假設 step3_df 是你的完整資料集
feature_columns = [col for col in step3_df.columns if col.endswith('wr')]
target_columns = ['lnv2s']
# 添加月份列
step3_df['month'] = pd.to_datetime(step3_df['datadate']).dt.to_period('M')

# 儲存樣本外預測結果
oos_predictions = {target: [] for target in target_columns}

# 每月處理數據
for month, monthly_data in step3_df.groupby('month'):
    print(f"Processing month: {month}")

    # 提取特徵矩陣 X 和多目標變數 y
    X = monthly_data[feature_columns].to_numpy()
    y_all = monthly_data[target_columns].to_numpy()

    # 將資料分為 60% 訓練集、20% 驗證集、20% 測試集
    X_train_val, X_test, y_train_val, y_test = train_test_split(X, y_all, test_size=0.2, random_state=42)
    X_train, X_val, y_train, y_val = train_test_split(X_train_val, y_train_val, test_size=0.25, random_state=42)

    # 隨機分配到 5 個區塊
    blocks = np.array_split(np.random.permutation(len(X_train)), 5)

    # 對於每個目標變數，進行五折交叉驗證
    for target_idx, target in enumerate(target_columns):
        print(f"Training models for target: {target}")

        # 訓練資料集
        train_data = lgb.Dataset(X_train, label=y_train[:, target_idx])

        # 使用固定迭代次數訓練模型
        model = lgb.train(
            params,
            train_data,
            num_boost_round=TREES
        )

        # 使用固定迭代次數進行預測
        y_val_pred = model.predict(X_val)
        y_test_pred = model.predict(X_test)

        # 儲存測試結果
        oos_predictions[target].append({
            'month': month,
            'y_val_pred': y_val_pred,
            'y_test_pred': y_test_pred,
            'y_test_actual': y_test[:, target_idx]
        })

# 最終的樣本外預測結果儲存到 DataFrame 中便於分析
oos_df = pd.DataFrame({
    'month': [entry['month'] for target in target_columns for entry in oos_predictions[target]],
    'target': [target for target in target_columns for _ in oos_predictions[target]],
    'y_val_pred': [entry['y_val_pred'] for target in target_columns for entry in oos_predictions[target]],
    'y_test_pred': [entry['y_test_pred'] for target in target_columns for entry in oos_predictions[target]],
    'y_test_actual': [entry['y_test_actual'] for target in target_columns for entry in oos_predictions[target]]
})

# 查看結果
print(oos_df.head())

------

In [ ]:
# 生成葉節點成員矩陣
def getD(tree):
    '''
    用來生成葉節點成員矩陣 D
    如果樣本 f 和 c 位於同一葉節點，則 D[f, c] = 1；否則為 0
    '''
    tree = np.array(tree)  # 確保 tree 是 NumPy 陣列
    D = (tree[:, None] == tree[None, :]).astype(int)
    return D

##### 根據 Geertsema & Lu (2022) 的公式進行計算，計算過程涉及多棵樹的預測和觀測之間的權重更新，目的是模擬一種相對估值模型。

In [ ]:
# ones：建立全為 1 的矩陣，方便矩陣操作。
# I：單位矩陣，用於保持數值計算的穩定性。
# P, p, diff, G, g, D, W：儲存每棵樹中各步驟的計算結果。
N = OBSERVATIONS  # 樣本數量
M = TREES         # 樹的數量
_lambda = LEARNING_RATE  # 學習率

ones = np.ones((N, N))  # 全部為 1 的矩陣
I = np.identity(N)      # 單位矩陣 (N x N)

# 初始化各變數的列表
P, p, diff, G, g, D, W = [[None] * M for _ in range(7)]

In [ ]:
# 迭代第一棵樹的初始化 (i=0)
P[0] = (1 / N) * ones  # 初始化 P[0] 矩陣 (方程 11)
v = y.reshape(N, 1).copy()  # 目標值 y 的向量化

p[0] = v.T @ P[0]  # 初始條件下的 p[0] 計算 (方程 12)
t = np.reshape(tree[0], (1, N))
diff[0] = t - p[0]  # 確認 p[0] 與 tree[0] 的一致性
assert np.allclose(np.mean(tree[0]), np.mean(p[0]), atol=1e-6) # 驗證差異接近零

G[0] = P[0]  # 初始 G[0] 設為 P[0] (方程 13)
g[0] = v.T @ G[0]  # 初始 g[0] 計算 (方程 14)
D[0] = np.ones((N, N))  # 第一棵樹的 D 矩陣，所有樣本在同一葉節點
# P[0]：初始條件下的權重矩陣。
# p[0]：根據初始條件的預測值。
# diff[0]：檢查 p[0] 是否與第一棵樹的預測一致。
# D[0]：所有觀測分配到同一葉節點。

In [ ]:
# 迭代樹 (i ≥ 1)
for i in range(1, M):
    D[i] = getD(tree[i])  # 使用 getD 函數生成 D[i] 矩陣
    W[i] = D[i] / (ones @ D[i])  # W[i] 矩陣計算 (方程 15)

    P[i] = _lambda * (W[i] @ (I - G[i-1]))  # P[i] 計算 (方程 16)
    p[i] = v.T @ P[i].T @ W[i]  # p[i] 計算 (方程 17)

    t = np.reshape(tree[i], (1, N))
    diff[i] = (t * _lambda) - (p[i])  # 檢查差異
    assert(np.allclose(diff[i], np.zeros((1, N)), atol=1e-5))  # 確認差異接近零

    G[i] = G[i-1] + P[i]  # G[i] 累積計算 (方程 18)
    g[i] = v.T @ G[i].T  # g[i] 計算 (方程 19)
# D[i]：第 i 棵樹的葉節點成員矩陣，使用 getD 函數生成。
# W[i]：權重矩陣（方程 15）。
# P[i]：當前迭代的權重更新（方程 16）。
# p[i]：第 i 棵樹的預測值（方程 17）。
# diff[i]：檢查 p[i] 是否與樹的預測一致。
# G[i] 和 g[i]：累積矩陣和對應的向量更新（方程 18 和 19）。

##### 通過計算權重來實現類似 GBM 的預測，並將預測結果與實際的 GBM 預測進行對比，以檢查差異

In [ ]:
# 初始化 L 矩陣
# L 矩陣儲存每棵樹的葉節點分配信息
L = D.copy()

# 在第一棵樹中，所有觀測都分配到同一葉節點
L[0] = np.ones((N, N))  # 第一棵樹的所有值均為 1

In [ ]:
# 利用計算出的權重進行 GBM 預測
K = np.zeros((N, N))
for i in range(0, M):
    # 方程 20：累加每棵樹的預測權重
    K = K + P[i].T @ (L[i] / (ones @ L[i]))

In [ ]:
# 方程 21：計算最終預測值向量 k
k = v.T @ K

# 檢查 k 與 y_hat 的差異
diff_pred = k - y_hat
print("===CHECK===: difference in GBM predicted ", np.round(diff_pred,6))

# 檢查差異是否在允許範圍內
assert(np.allclose(diff_pred, np.zeros((1, N)), atol=1e-5))
print("checks complete")